<% if @restaurants.any? %>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %> (<%= restaurant.cuisine %>)
      <%= link_to "Edit", edit_restaurant_path(restaurant.id) %>
      <!-- http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to -->
      <%= link_to 'Delete', restaurant_path(restaurant.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  </ul>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>